@import "../../styles/variables.scss";

.product {
  margin-bottom: 180px;
  padding: 57px 15px 0 15px;
  overflow: hidden;

  &__container {
    max-width: 1170px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 129px;
    font-size: 48px;
    font-weight: 800;
    text-align: left;
  }
  &__list {
    position: relative;
    display: grid;
    grid-template: repeat(auto-fill, 284px) / repeat(auto-fill, 370px);
    grid-auto-rows: 284px;
    row-gap: 126px;
    column-gap: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 74px;
      height: 114px;
      top: 33%;
      left: -246px;
      background: url("../../assets/img/ellipse4.svg") no-repeat;
      background-size: contain;
    }
    &::after {
      content: "";
      position: absolute;
      width: 156px;
      height: 184px;
      top: 63%;
      right: -278px;
      background: url("../../assets/img/ellipse5.svg") no-repeat;
      background-size: contain;
    }
  }
}

@media (max-width: 1200px) {
  .product {
    &__list {
      grid-template: repeat(auto-fill, 284px) / repeat(auto-fill, 300px);
      justify-content: center;
      &::after,
      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .product {
    margin-bottom: 80px;
    padding: 0 15px;
    overflow: visible;
  }
}

@media (max-width: 425px) {
  .product {
    &__list {
      grid-template: repeat(auto-fill, 284px) / minmax(310px, 1fr);
      align-items: center;
    }
  }
}
