@import "../../styles/variables.scss";

.up-arrow {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: $main_color;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    background-color: $main_hover;
  }
}
